html, body {
	width: 100%;
	height: 100%;
}

header {
	width: 100%;
	height: 112px;
}

/* @media (min-width: 768px){
	header{
		height: 22.3%;
	}
} */

p {
	margin: 0 !important;
}

.legibilidade {
	padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 20px !important;
    padding-left: 0px;
}

.cabecalio-mobile {
	width: 100%;
    height: 82px; 
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 500;
}

.logo{
	width: 90px;
    padding: 20px;
}

.navegacao{
	width: 12%;
    display: flex;
    align-items: center;
}
@media (min-width: 768px){
	.navegacao{
		width: 80%;
	}
}

.navegacao img{
	width: 24px;
}

.box-menu{
    width: 80%;
    height: 89%;
    background-color: #8a2c2c;
    position: fixed;
    top: 11%;
    right: -80%;
    z-index: 500;
    transition: right 0.4s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.box-menu p{
	color: white;
	text-transform: uppercase;
    font-size: 20px;
}

.ativo{
	right: 0;
}

.menu-desktop{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
@media(max-width: 767px){
	.menu-desktop{
		display: none;
	}
}

.menu-desktop p{
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.menu{
	cursor: pointer;
    z-index: 505; 
}
@media(min-width: 768px ) {
	.menu{
		display: none;
	}
}

.menu-barra{
    width: 26px;
    height: 4px;
    background-color: black;
    margin-bottom: 4px;
    border-radius: 4px;
}

.submenu{
	width: 100%;
    height: 30px;
    background-color: black;
    display: flex;
    align-items: center;
    position: absolute;
    top: 82px;
}

.submenu a{
	color: white;
	font-family: 'Oswald', sans-serif;
	padding-left: 20px;
}

.carousel-inner{
	width: 100%;
	height: 80%;
}

.carousel-caption {
	background-color: black;
    position: absolute;
    right: 50% !important;
    bottom: 20px;
    left: 6% !important;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);

    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.texto-carousel-one{
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
}

.titulo-exposicao{
	text-transform: uppercase;
	color: red;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
    margin-left: 20px;
    font-size: 2.5em;
}

.colecao{
    width: 100%;
    height: 66px;
    background: url("../imagens/1.png");
    background-position: top center;
    background-repeat: none;
    background-size: cover;
    text-align: center;
    text-decoration: none;
  
}

.colecao h4 {
    color: #141720;
    text-transform: uppercase;
}

.ajustes_dimensoes{
	display: flex;
    align-items: center;
    justify-content: center;
}

.fotos_colecao{
	width: 90%;
}


.titulo_um:focus{
	text-transform: uppercase;
	color: #141720;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	height: 66px;

}

.titulo_um button:focus{
	width: 95%;
    height: 66px;
    padding: 0;
    outline-style: none;
}

.colecao p{	color: #141720;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 11px;
	padding-left: 16px;
	padding-right: 10px;
}

.tomoo{
	width: 100%;
    height: 66px;
    background: url("../imagens/2.png");
    background-position: top center;
    background-repeat: none;
    background-size: cover;
    /*margin: 20px auto 0 auto;*/
}

.tomoo h4{
	text-transform: uppercase;
	color: #141720;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	padding: 16px 0 0 16px;
}

.tomoo p{
	color: #141720;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 11px;
	padding-left: 16px;
	padding-right: 14px;
}

.ryo{
	width: 100%;
    height: 66px;
    background: url("../imagens/3.png");
    background-position: top center;
    background-repeat: none;
    background-size: cover;
}

.ryo h4{
	text-transform: uppercase;
	color: #141720;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	padding: 16px 0 0 16px;
}

.ryo p{
	color: #141720;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 11px;
	padding-left: 16px;
	padding-right: 14px;
}

.quimonos{
	width: 100%;
    height: 66px;
    background: url("../imagens/8.png");
    background-position: top center;
    background-repeat: none;
    background-size: cover;
}

.quimonos h4{
	text-transform: uppercase;
	color: #141720;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	padding: 16px 0 0 16px;
}

.quimonos p{
	color: #141720;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 11px;
	padding-left: 16px;
	padding-right: 14px;
}

.fundo-acervo{
	background-color: #141720 !important;
}

.borda_acervo{
	border-color: #141720 !important;
}

.respiro_interno_acervo{
	margin-bottom: 10px !important;
}

.respiro_acervo{
	margin-bottom: 0 !important;
	padding-bottom: 20px;
}

.respiro{
	height: 50px;
}

.titulo-acervo{
	text-transform: uppercase;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 10px;
}

.pinturas{
    width: 100%;
    height: 66px;
    background: url("../imagens/4.png");
    background-position: top center;
    background-repeat: none;
    background-size: cover;
}

.pinturas h4{
	text-transform: uppercase;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	padding: 8px 0 0 8px;
}

.livros{
    width: 100%;
    height: 66px;
    background: url("../imagens/5.png");
    background-position: top center;
    background-repeat: none;
    background-size: cover;
}

.livros h4{
	text-transform: uppercase;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	padding: 8px 0 0 8px;
}

.objetos{
    width: 100%;
    height: 66px;
    background: url("../imagens/6.png");
    background-position: top center;
    background-repeat: none;
    background-size: cover;
}

.objetos h4{
	text-transform: uppercase;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	padding: 8px 0 0 8px;
}

.imigracao{
    width: 100%;
    height: 66px;
    background: url("../imagens/7.png");
    background-position: top center;
    background-repeat: none;
    background-size: cover;
}

.imigracao h4{
	text-transform: uppercase;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	padding: 8px 0 0 8px;
}

.titulo-novidades{
	text-transform: uppercase;
	color: red;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
    margin-left: 20px;
}

.visita{
    width: 100%;
    height: 66px;
    background: url("../imagens/1.png");
    background-position: top center;
    background-repeat: none;
    background-size: cover;
}

.visita h4{
	text-transform: uppercase;
	color: #141720;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	padding: 16px 0 0 16px;
}

.visita p{
	color: #141720;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 11px;
	padding-left: 16px;
	padding-right: 10px;
}

.anos{
	width: 100%;
    height: 66px;
    background: url("../imagens/2.png");
    background-position: top center;
    background-repeat: none;
    background-size: cover;
}

.anos h4{
	text-transform: uppercase;
	color: #141720;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	padding: 16px 0 0 16px;
}

.anos p{
	color: #141720;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 11px;
	padding-left: 16px;
	padding-right: 14px;
}

.inauguracao{
	width: 100%;
    height: 66px;
    background: url("../imagens/3.png");
    background-position: top center;
    background-repeat: none;
    background-size: cover;
}

.inauguracao h4{
	text-transform: uppercase;
	color: #141720;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	padding: 16px 0 0 16px;
}

.inauguracao p{
	color: #141720;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 11px;
	padding-left: 16px;
	padding-right: 14px;
}

.livro{
	width: 100%;
    height: 66px;
    background: url("../imagens/8.png");
    background-position: top center;
    background-repeat: none;
    background-size: cover;
}

.livro h4{
	text-transform: uppercase;
	color: #141720;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	padding: 16px 0 0 16px;
}

.livro p{
	color: #141720;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 11px;
	padding-left: 16px;
	padding-right: 14px;
}

.fundo-historia {
	background-color: #141720;
}

.titulo-historia{
	text-transform: uppercase;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
    margin-left: 20px;
}

.historia{
    width: 100%;
    height: 66px;
    background: url("../imagens/9.png");
    background-position: top center;
    background-repeat: none;
    background-size: cover;
    margin: 8px auto 0 auto;
}

.historia h4{
	text-transform: uppercase;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	padding: 8px 0 0 8px;
}

.fundo_painel_imigracao{
	background-color: #fff;
}

.museu{
    width: 100%;
    height: 66px;
    background: url("../imagens/10.png");
    background-position: top center;
    background-repeat: none;
    background-size: cover;
}

.museu h4{
	text-transform: uppercase;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	padding: 8px 0 0 8px;
}

.titulo-visite-nos{
	text-transform: uppercase;
	color: red;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
    margin-left: 20px;
}

.horario{
    width: 90%;
    height: 134px;
    background-color: #8a2c2c;
    box-shadow: 3px 6px 8px -1px #9e9b9a;
    background-size: cover;
    margin: 20px auto 0 auto;
}

.horario h4{
	text-transform: uppercase;
	color: #141720;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	padding: 16px 0 0 16px;
}

.horario p{
	color: #141720;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 11px;
	padding-left: 16px;
	padding-right: 10px;
	margin: 0;
	font-size: 18px;
}

.ingressos{
	width: 90%;
    height: 240px;
    background-color: #8a2c2c;
    box-shadow: 3px 6px 8px -1px #9e9b9a;
    background-size: cover;
    margin: 20px auto 0 auto;
}

@media(min-width: 768px){
	.ingressos{
		height: 156px;
	}
}

.ingressos h4{
	text-transform: uppercase;
	color: #141720;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	padding: 16px 0 0 16px;
}

.ingressos p{
	color: #141720;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 11px;
	padding-left: 16px;
	padding-right: 14px;
	font-size: 18px;
}

.audioguia{
	width: 90%;
    height: 260px;
    background-color: #8a2c2c;
    box-shadow: 3px 6px 8px -1px #9e9b9a;
    background-size: cover;
    margin: 20px auto 0 auto;
}

@media(min-width: 768px){
	.audioguia{
		height: 186px;
	}
}

.audioguia h4{
	text-transform: uppercase;
	color: #141720;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	padding: 16px 0 0 16px;
	font-size: 20px !important;
}

.audioguia p{
	color: #141720;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 15px;
	padding-left: 16px;
	padding-right: 14px;
	font-size: 18px;
}

.agendamento-de-visitas{
	width: 90%;
    height: 154px;
    background-color: #8a2c2c;
    box-shadow: 3px 6px 8px -1px #9e9b9a;
    background-size: cover;
    margin: 20px auto 0 auto;
}

@media(min-width: 768px){
	.agendamento-de-visitas{
		height: 116px;
	}
}

.agendamento-de-visitas h4{
	text-transform: uppercase;
	color: #141720;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	padding: 16px 0 0 16px;
}

.agendamento-de-visitas p{
	color: #141720;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 11px;
	padding-left: 16px;
	padding-right: 14px;
	font-size: 18px;
}

.agendamento-de-excursão{
	width: 90%;
    height: 130px;
    background-color: #8a2c2c;
    box-shadow: 3px 6px 8px -1px #9e9b9a;
    background-size: cover;
    margin: 20px auto 0 auto;
}

.agendamento-de-excursão h4{
	text-transform: uppercase;
	color: #141720;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	padding: 16px 0 0 16px;
}

.agendamento-de-excursão p{
	color: #141720;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 11px;
	padding-left: 16px;
	padding-right: 14px;
	font-size: 18px;
}

.acervo-visite-nos{
	width: 90%;
    height: 229px;
    background-color: #8a2c2c;
    box-shadow: 3px 6px 8px -1px #9e9b9a;
    background-size: cover;
    margin: 20px auto 0 auto;
}
@media(min-width: 767px){
	.acervo-visite-nos{
		height: 118px;
	}
}

.acervo-visite-nos h4{
	text-transform: uppercase;
	color: #141720;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	padding: 16px 0 0 16px;
}

.acervo-visite-nos p{
	color: #141720;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 11px;
	padding-left: 16px;
	padding-right: 14px;
	font-size: 20px;
}

.endereço{
	width: 90%;
    height: 404px;
    background-color: #8a2c2c;
    box-shadow: 3px 6px 8px -1px #9e9b9a;
    background-size: cover;
    margin: 20px auto 0 auto;
}

.endereço h4{
	text-transform: uppercase;
	color: #141720;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	padding: 16px 0 0 16px;
}

.endereço p{
	color: #141720;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 11px;
	padding-left: 16px;
	padding-right: 14px;
	font-size: 18px;
}

.maps{
	width: 90%;
    height: 250px;
    margin-top: 14px;
}

.entre-em-contato{
	width: 90%;
    height: 566px;
    background-color: #8a2c2c;
    box-shadow: 3px 6px 8px -1px #9e9b9a;
    background-size: cover;
    margin: 20px auto 0 auto;
}

@media(min-width: 768px){
	.entre-em-contato{
		height: 510px;
	}
}

.entre-em-contato h4{
	text-transform: uppercase;
	color: #141720;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	padding: 16px 0 0 16px;
}

.entre-em-contato p{
	color: #141720;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 11px;
	padding-left: 16px;
	padding-right: 14px;
	font-size: 18px;
}

.formulario{
	width: 100%;
}

.inputs{
	width: 100%;
}

.formula_do_sucesso {
	display: flex;
	justify-content: space-between;
	margin: 10px 16px;
}
.formula_do_sucesso input {
	width: 70%;
}
.formula_do_posicionamento{
	margin: 10px 16px;
	display: flex;
	justify-content: flex-end;
}
.formula_do_posicionamento input {
	border: none;
    width: 26%;
    height: 28px;
    border-radius: 6px;
    background-color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}
.paragrafo_formulario{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.formulario-interno{
	width: 80%;
	margin-left: 0px;
}

.sec{
	padding-right: 10px !important;
}

#doidao{
	margin-bottom: 15px !important;
}



.fundorodapefinal {
    background-color: #141720;
    height: 60%;
}

.quadrofinal {
    text-transform: uppercase;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
}

.quadrofinal h4{
	padding-top: 20px;
	font-family: 'Oswald', sans-serif;
}
@media(min-width: 768px){
	.quadrofinal h4{
		padding-left: 30px;
	}
}

.museu{
    width: 100%;
    height: 66px;
    background: url("../imagens/10.png");
    background-position: top center;
    background-repeat: none;
    background-size: cover;
    margin: 8px auto 0 auto;
}

.museu h4{
	text-transform: uppercase;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	padding: 8px 0 0 8px;
}

.fast{
	margin: 0;
    height: 30px;
}

.patrocinadores {
   	width: 100%;
    height: 56%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.dindin{
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dindin_dois{
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5%;
}

.patrocinadores img {
	width: 80px;
    height: 30px;
}

.footer_text{
    text-align: justify;
    line-height: 20px;
    height: 18%;
}
@media(min-width: 768px){
	.footer_text{
		padding: 0 30px;
	}
}

#card-um{
	height: 66px;
}

.titulo_um a:link, .titulo_um a:visited{
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	font-size: 1.2em;
}

.forcar_altura{
	height: 250px;
}